dev_notebooks
input
output
plots
.idea
tools/__pycache__/
slurm_scripts_rof/*.err
slurm_scripts_rof/*.out
scripts/rofental_workflow_FSM_OGGM/slurm_log.err
scripts/rofental_workflow_FSM_OGGM/slurm_log.out
nlst
